html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/meowmatchbg.jpeg');
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 200, 233);
  padding: 10px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  color: #575151;
  width: 100%;
}

.bodyComponent {
  display: flex;
}

.input-container {
  flex: 1;
  background-color: rgba(248, 200, 233, 0.344);
  max-width: 25%;
  min-width: 300px;
  border-radius: 30px;
  margin-left: 15px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  padding: 6px;
  position: sticky;
  top: 10px;
  max-height: 550px;
  min-height: 500px;
}

.pet-card-holder-container {
  flex: 3;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.input-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(254, 253, 253, 0.503);
  border-radius: 30px;
  border-style: outset;
  border-width: 4px;
  border-color: rgba(248, 200, 233, 0.442);
  font-family: 'Lobster';
  color: #575151;
  max-height: 542px;
  overflow-y: auto;
}

.label {
  display: block;
  text-align: center;
  margin: 25px;
}

input,
textarea {
  text-align: center;
  width: 80%;
  padding: 6px;
}

input {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 4px;
}

input::placeholder {
  font-family: 'Lobster';
  opacity: 0.5;
}

textarea {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 4px;
}

textarea::placeholder {
  font-family: 'Lobster';
  opacity: 0.5;
}

.submitBtn {
  width: 80%;
  height: 7.5%;
  margin-bottom: 10px;
  background-color: rgba(248, 200, 233, 0.344);
  border-color: rgba(248, 200, 233, 0.442);
  border-radius: 30px;
  border-width: 1px;
  font-family: 'Lobster', cursive;
  font-size: large;
  color: #575151;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.submitBtn::before {
  content: '\f1b0';
  font-family: FontAwesome;
  display: none;
}

.submitBtn:hover::before {
  display: inline-block;
}

.submitBtn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(248, 200, 233);
}

.deleteBtn {
  /* align-self: flex-end; */
  /* margin-bottom: 15px; */
  width: 80%;
  height: 7.5%;
  background-color: rgba(248, 200, 233, 0.344);
  border-color: rgba(248, 200, 233, 0.442);
  border-radius: 30px;
  border-width: 1px;
  font-family: 'Lobster', cursive;
  font-size: large;
  color: #575151;
  transition: 0.3s;
}

.deleteBtn::before {
  content: '\f1b0';
  font-family: FontAwesome;
  display: none;
}

.deleteBtn:hover::before {
  display: inline-block;
}

.deleteBtn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(248, 200, 233);
}

.updateBtn {
  /* align-self: flex-end; */
  /* margin-bottom: 15px; */
  width: 80%;
  height: 7.5%;
  background-color: rgba(248, 200, 233, 0.344);
  border-color: rgba(248, 200, 233, 0.442);
  border-radius: 30px;
  border-width: 1px;
  font-family: 'Lobster', cursive;
  font-size: large;
  color: #575151;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.updateBtn::before {
  content: '\f1b0';
  font-family: FontAwesome;
  display: none;
}

.updateBtn:hover::before {
  display: inline-block;
}

.updateBtn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
  background-color: rgb(248, 200, 233);
}

.deleteBtn {
  /* align-self: flex-end; */
  /* margin-bottom: 15px; */
  width: 80%;
  height: 7.5%;
  background-color: rgba(248, 200, 233, 0.344);
  border-color: rgba(248, 200, 233, 0.442);
  border-radius: 30px;
  border-width: 1px;
  font-family: 'Lobster', cursive;
  font-size: large;
  color: #575151;
  transition: 0.3s;
}

.deleteBtn::before {
  content: '\f1b0';
  font-family: FontAwesome;
  display: none;
}

.deleteBtn:hover::before {
  display: inline-block;
}

.deleteBtn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(248, 200, 233);
}

.updateBtn {
  /* align-self: flex-end; */
  /* margin-bottom: 15px; */
  width: 80%;
  height: 7.5%;
  background-color: rgba(248, 200, 233, 0.344);
  border-color: rgba(248, 200, 233, 0.442);
  border-radius: 30px;
  border-width: 1px;
  font-family: 'Lobster', cursive;
  font-size: large;
  color: #575151;
  transition: 0.3s;
}

.updateBtn::before {
  content: '\f1b0';
  font-family: FontAwesome;
  display: none;
}

.updateBtn:hover::before {
  display: inline-block;
}

.updateBtn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(248, 200, 233);
}

/* .petCardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
} */

.petCardContainer {
  background-color: rgba(248, 200, 233, 0.344);
  flex: 1;
  width: calc(33.33% - 20px);
  margin: 10px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  color: #575151;
}

@keyframes colorShift1 {
  0% {
    color: #575151;
  }
  100% {
    color: #a393eb;
  }
}

@keyframes colorShift2 {
  0% {
    color: #a393eb;
  }
  100% {
    color: #575151;
  }
}

.title1 {
  animation-name: colorShift1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.title2 {
  animation-name: colorShift2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.petCard {
  background-color: rgba(248, 200, 233, 0.344);
  border-radius: 30px;
  padding: 2em;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  min-height: 240px;
  border-style: outset;
  border-width: 4px;
  border-color: rgba(248, 200, 233, 0.442);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.petImage {
  height: 225px;
  width: 225px;
  margin-bottom: 10px;
  border-radius: 15px;
  border-style: outset;
  border-width: 8px;
  border-color: #a393eb;
}

.petDetails {
  font-size: large;
  color: #575151;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
